.main{
    display: flex;
}
.list{
    list-style: none;
    display: flex;
    margin-left: 600px;
    
}

li{
    margin-right: 40px;
    justify-content: flex-end;
}

.signup{
    margin-top: 10px;
    margin-right: 50px;
    border: none;
    background-color: cornflowerblue;
    padding: 9px;
    border-radius: 5px;
    color: white;
}

.logo{
    margin-left: 100px;

}





